# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/
.python-version

# Node
node_modules/
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
